/*	---+ dette er en komplett reset av css     +---+---+---+---+---+--- 	*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
/*	---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+--- 	*/


/*	------------------------------------------------------------------- 	*/
/*		Siden dette skal vises på en skjerm/pc som IKKE er i nett,			*/
/*		har jeg gjort dette så enkelt som mulig.							*/
/*			5 lydfiler == 5 HTMLsider										*/
/*						 (pluss en startside uten lydvalg)					*/
/*		Den aktuelle side har "treff" i boks.class.							*/
/*		(eller "fullertreff" for "fuller" i venstre-toer-boks				*/
/*																			*/
/*													fredm - 161104			*/
/*	---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+--- 	*/
body{
	font-family:'helvetica', 'Verdana', 'Times New Roman', 'Times', serif;
	font-weight:400;
	font-size:100%;
	line-height:2em;
	background-color: #e3d6c0;
	color: #9a8760;
	cursor:inherit;		/* husk å slå AV cursoren i produksjon	*/
	margin:0px;
	padding:0px
}
		
#dethele{
	float:left;
	margin:14px;
	width:1247px;
	height:980px;
	borxder:0px solid red; /*	fjern denne (border=>borxder) i produksjon	*/
	background-image: url("./pikks/ramme.jpg")
}
#sentertext{
	width: 1047px;
	margin: 100px 0 0 100px;
	float: left
}

h1{
	margin-top: 90px;
	font-size: 1.3em;
	line-height: 1.2em
}
a{
	color: #9a8760
}

.tittel{
	width: 981px; 
	height: 80px; 
	float: left;
	margin-left: 30px;
	margin-top: -60px;	
	-webkit-border-radius: 15px;
	background: rgba(255, 252, 245, .98);
	border: 3px solid #9a8760
}
.tittel h1{
	margin:20px;
	font-size: 2em
}
.boks{
	width:283px;
	height: 350px;
	margin: 30px;
	float: left;
	text-align: center;
	background: rgba(255, 252, 245, .98);
	position:relative;
	-webkit-border-radius: 15px;
	box-shadow: 10px 10px 15px #b2a07a;
	border: 3px solid #9a8760
}
.boks p{
	padding: 10px 20px;
	font-size: 1.2em;
	line-height: 1.1em
}
.boks img{
	width: 80%;
	margin: 10%;
	margin-bottom: 0
}

.fuller{
	margin-left: 205px
}
.treff{
	margin: 2px;
	width: 339px;
	height: 400px;
	box-shadow: 20px 20px 35px #b2a07a
}
.treff h1{
	margin-top: 60px
}
.fullertreff{
	margin: 5px;
	width: 339px;
	height: 400px;
	margin-left: 174px
}
.fullertreff h1{
	margin-top: 60px
}

audio{
	width:100%;
	float:left;
	position: absolute;
	bottom: 13px;
	left: 0;
}

/*	denne er kjekt å ha når man jobber med FLOAT-elementer	*/
.clearfix:after{ content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{ display:inline-block}
* html .clearfix{ height:1%} /* Hides from IE-mac \*/
.clearfix{ display:block}
